/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --heading-color: #000028;
  --main-heading-color: #DB00FF;
} 

.page.theme_dark {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.decor {
  color: var(--accent-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 9px;
  top: 0;
}

.decor::before {
  content: 'rec';
}

.decor::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 10px;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

@media (prefers-color-scheme: dark) {

  :root .theme_auto {
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --main-text-color: #F1B2CE;
    --heading-color: #000028;
    --main-heading-color: #DB00FF;   
  }
    
}