:root .theme_light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --heading-color:  #353430;
  --main-heading-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --button-color: #353430;
  --low-opacity: rgb(50, 49, 45, 0.4);
} 

.theme_light .decor {
  display: none;
}

.page.theme_light {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--low-opacity);
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --heading-color:  #353430;
    --main-heading-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --button-color: #353430;
    --low-opacity: rgb(50, 49, 45, 0.4);
    }
  
  .theme_auto .decor {
    display: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid var(--low-opacity);
  }
}