:root .theme_light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --heading-color:  #353430;
  --main-heading-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --button-color: #353430;
  --button-hover-border: rgb(50, 49, 45, 0.4);
} 

.theme_light .decor {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --heading-color:  #353430;
    --main-heading-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --button-color: #353430;
    --button-hover-border: rgb(50, 49, 45, 0.4);
    }
  
  .theme_auto .decor {
    display: none;
  }
}