.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  block-size: 100vh;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr auto 1fr;
  margin: 20px;
  block-size: 100vh;
}

@media (width <= 375px) {
  .header {
    margin: 10px;
  }
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid var(--button-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-top: none;
  border-right: none;
  left: 0;
  bottom: 0;
}

.decorated-zone::before {
  border-left: none;
  border-bottom: none;
  right: 0;
  top: 0;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

@media (width <= 768px) {
  .header__theme-menu {
    justify-content: end;
    align-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  gap: 11.5px;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
}

.header__theme-menu-button {
  padding: 0.5px 12px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
  font-weight: inherit;
}

.header__theme-menu-button:focus,
a {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

a:hover {
  border-bottom: 1px solid var(--main-text-color);
}

a:focus-visible {
  border: 1px solid var(--main-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.main__title {
  color: var(--main-heading-color);
  font-family: inherit;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-style: inherit;
  font-weight: bold;
  margin-inline-start: -20px;
}

@media (width <= 768px) {
  .main__title {
    margin-inline-start: 0;
  }
}

@media (width <= 375px) {
  .main__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.header__subtitle {
  color: var(--heading-color);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
  font-weight: bold;
  max-inline-size: 491px;
  justify-self: flex-end;
  align-self: center;
}

@media (width <= 768px) {
  .header__subtitle {
    max-inline-size: 364px;
  }
}

@media (width <= 375px) {
  .header__subtitle {
    max-inline-size: 355px;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.section {
  margin: 80px 0;
}

@media (width <= 375px) {
  .section {
    margin: 50px 0;
  }
}

.main {
  margin: 0 20px 20px 20px;
}

@media (width <= 375px) {
  .main {
    margin: 10px;
  }
}

.section-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

@media (width <= 375px) {
  .section-layout {
    display: flex;
    flex-direction: column;
  }
}

.section__main-title {
  color: var(--button-color);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
}

@media (width <= 1024px) {
  .section__main-title {
    max-inline-size: 315px;
  }
}

@media (375px < width <= 768px) {
  .section__main-title {
    max-inline-size: 236px;
  }
}

.article__subtitle {
  color: var(--heading-color);
  margin-block-end: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
}

.section__listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-what__listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 768px) {
  .section-what__listing {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.article__heading {
  font-weight: normal;
  color: var(--heading-color);
  margin-block-end: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
}

.add-margin {
  margin-block-end: 20px;
}

.images-layout {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
}

@media (width < 768px) {
  .images-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.images-layout__first {
  grid-column: span 2;
}

.images-layout__second {
  grid-row: span 2;
}

.images-layout__third {
  grid-row: span 2;
}

.images-layout__fourth {
  grid-row: span 1;
  grid-column: span 1;
}

.images-layout__fifth {
  grid-column: span 2;
}

.image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  position: relative;
  padding: 20px;
}